In [ ]:
import pandas
jmena=pandas.read_csv('jmena.csv')
jmena

Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60.

In [ ]:
jmena[jmena["věk"] >60]

Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.

In [ ]:
jmena[jmena["četnost"].between(80_000,100_000)]

Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je?

In [ ]:
# jmena[(jmena["původ"]=="hebrejský")|(jmena["původ"]=="slovanský")]
jmena[jmena["původ"].isin(["hebrejský","slovanský"])]

Vypiš všechna jména, která mají svátek první 3 dny v prosinci.

In [ ]:
jmena[(jmena["svátek"]=="1.12")|(jmena["svátek"]=="2.12")|(jmena["svátek"]=="3.12")]

# 2. cvičení - Práce s chybějícími hodnotami, spojování dat

https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs

Stáhni si datové sety, se kterými budeme pracovat v tomto cvičení: jmena_vol2.csv, studenti1.csv, studenti2.csv.

První set už známe z minulé lekce. Druhé dva sety obsahují seznam studentů na nějaké menší IT fakultě. Pozor, tato data nemají žádnou souvislost s výsledky maturity, které jsme procházeli během lekce.

Proveď následující úkoly a zodpověz předložené otázky.

* Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.
* Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?
* Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

In [25]:
import pandas

jmena = pandas.read_csv("jmena_vol2.csv")
studenti1 = pandas.read_csv("studenti1.csv")
studenti2 = pandas.read_csv("studenti2.csv")

In [42]:
# spojení do jednoho datasetu

pandas.concat([studenti1, studenti2],ignore_index=True)

student_celkem=pandas.concat([studenti1, studenti2],ignore_index=True)
student_celkem

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [ ]:
# Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

nestuduji=student_celkem[student_celkem["ročník"].isna()]
dalkovy=student_celkem[student_celkem["kruh"].isna()]
dalkovy
nestuduji

# pokud bychom to chtěli zjistit dohromady:
# student_celkem[(student_celkem["ročník"].isna())|(student_celkem["kruh"].isna())]

# nebo takto:
# celkem=pandas.concat([nestuduji, dalkovy],ignore_index=True)
# celkem

# nebo takto: 
# print(dalkovy, nestuduji)

In [43]:
# další možnost, jak zjistit, kdo již nestuduje a kolik jsou dálkoví studenti? - Pouze ukáže počet
student_celkem[student_celkem["ročník"].isna()].shape[0]
student_celkem[student_celkem["kruh"].isna()].shape[0]

27

In [45]:
student_celkem.dropna(subset=["ročník", "kruh"])
student_celkem.dropna()

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
338    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
339    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]